a {
  color: rgb(63, 59, 59);
}

div {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #f7f3ff;
  color: rgb(63, 59, 59);
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-secondary {
  background-color: violet;
  color: rgb(63, 59, 59);
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: blue;
}
.btn-secondary:hover {
  background-color: rgb(199, 7, 125);
}

.weather-app {
  border: 1px solid rgb(63, 59, 59);
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  max-height: 500px;
  border-radius: 5px;
}

.credit {
  text-align: center;
  background-color: rgb(245, 176, 245);
  border-radius: 10px;

  margin: 0px auto 10px auto;
  max-width: 40%;
  max-height: 15%;
}
